<!DOCTYPE HTML>
<html>
    <body>
        <h2>Post Job</h2>

<form  action ="/post_job" method="POST">

<input type="text" name="company_name" placeholder="Company_Name" required><br><br>

<input type="text" name="title" placeholder="Job Title" required><br><br>

<input type="text" name="salary" placeholder="Salary" required><br><br>

<input type="text" name="location" placeholder="Location" required><br><br>

<input type="email" name="contact_email" placeholder="Contact_email" required><br><br>

<input type="text" name="contact_phone" placeholder="Phone"><br> <br>

<textarea name="description" placeholder="Job Description" required></textarea><br><br>

<button type="submit">Post Job</button>

</form>
</body>
</html>